.arror, .arror2{
    width: 200px;
    height: 200px;
    margin-bottom: -100px;
    filter: drop-shadow(5px 5px 15px rgb(248, 29, 29));
}

.arrorWord{
    stroke: white;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}