.introBody{
    text-align:left;
    width: 1000px;
    background-color: white;
    margin: 10px auto;
    border: 1px solid rgb(247, 247, 247);
    border-radius: 7px;
    box-shadow: 0 1px 10px rgb(18 18 18 / 30%);
    font-family:Arial;
    font-weight: 300;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 20px;
    padding-top: 20px;
}

.introHead{
    font-size: 50px;
    font-family: 'Poiret One', cursive;
}

.introImg01{
    width: 90%;
    margin: 20px;
}
.introImg02{
    height: 100px;
    margin: 20px;
}

.introImg021{
    height: 200px;
    margin: 20px;
}

.introImg03{
    height: 300px;
    margin: 20px;
}

h2{
    padding-top: 30px;
    color: black
}

.introContainer{
    height: 450px;
}

.introContainer2{
    height: 200px;
    width: 150px;
}
.introBackBtn{
    width: 100px;
    background-color: white;
    height: 30px;
    border: 2px solid darkblue;
    border-radius: 20px;
    color: darkblue;
}